NODE_ENV=development
PORT=3000
NEXT_PUBLIC_APP_URL=https://order-management-system-t9q4.onrender.com/

MONGO_URI=mongodb://localhost:27017/multi_store_oms

JWT_ACCESS_SECRET=change_this_access_secret_in_production
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

ARCHIVE_ORDER_AGE_DAYS=30
